snippet feature
${1:Feature Title}

### Type
${2:- [X] Feature
- [ ] Bug 
- [ ] Chore}

### Details
${2:Describe feature...}

### Required Specs
${3:- [ ] spec 1}
endsnippet

snippet bug
${1:Bug Title}

### Type
${2:- [ ] Feature
- [X] Bug 
- [ ] Chore}

### Details
${2:Describe feature...}

### Reproduce
${3:How to reproduce...}
endsnippet

snippet chore
🔨 ${1:Chore Title}

### Type
${2:- [ ] Feature
- [ ] Bug 
- [X] Chore}

### Details
${2:Describe chore...}
endsnippet
