snippet hw
#include <stdio>

using namespace std;

int main() {
	cout << "Hello World";
}
endsnippet

snippet cin
string $1
cin >> $2$0
endsnippet

snippet cout
cout << $0 << endl;
endsnippet

snippet hpp

endsnippet

snippet class
#include <iostream>
using namespace std;

int hello() {
	return 0;
}
endsnippet

snippet void
void() {

}
endsnippet
