snippet hello
hello
endsnippet

snippet row
<div class="row">
	$0
</div>
endsnippet

snippet div
<div class="$1">$0</div>
endsnippet

snippet row
<div class="row">$0</div>
endsnippet

snippet ul
<ul>
	<li></li>
</ul>
endsnippet

snippet li
<li>$0</li>
endsnippet

snippet cl
class=""
endsnippet
