snippet def
def $1($2)
	$0
end
endsnippet

snippet mailer
class ${1:YourName}Mailer < ApplicationMailer
	$0
end
endsnippet

snippet ENV
ENV['$1']
endsnippet

snippet class
class $1 < $2
end
endsnippet

snippet ###
####################################################
#	$1
####################################################
endsnippet
snippet ####
####################################################
endsnippet
